<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMS</title> 
</head>
<body style="font-family: 'Alegreya', serif;font-weight:bold;">
    <br>
    <h1 style="text-align: center;font-size:70px;">Welcome To </h1>
    <h1 style="text-align: center;font-size:70px;">Examination Management System</h1>
    <h2 style="text-align: center;">DBMS Mini Project</h2>

    <br>
    <br>
    <br>

    <h1 style="text-align: center;font-size:70px;">BY</h1>
    <h2 style="text-align: center;">K Rohith Venkata Karthik</h2>
    <h2 style="text-align: center;">B180039CS</h2>
    <h2 style="text-align: center;">Department of Computer Science and Engineering</h2>
    

    <button (click)="router.navigate(['/adminlogin']);" style="padding:5px;font-size:25px;position: absolute;left: 48%;">Login</button>
    
    
</body>
</html>



